.mainContainer{
    color : var(--color1);
}
.commitContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.eachCommit{
    margin-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 1rem;
}
