.confettiImg{
  position: fixed;
  z-index: 1;
  pointer-events: none;
  animation: confetti 0.5s 1s linear forwards;
}
.confettiImg#confetti1{
  right: 0;
  top: 0;
  height: 80vh;
}
.confettiImg#confetti2{
  bottom: 0;
  top: auto;
  left: 0;
  height: 20vh;
}
.confettiImg#confetti3{
  bottom: 0;
  top: auto;
  left: 0;
  height: 80vh;
}

.countdown{
    font-family: "Monomaniac One", sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 6rem;
    align-items: center;
    justify-content: center;
    height: 80vh;
    animation: fadeIn 1s linear forwards;
}
.countdownObj{
    margin-top: 20vh;
    margin-bottom: 5vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--color3);
    color: var(--color1)
}
.notcountdown{
    z-index: 1;
    font-size: 1.3rem;
    padding-bottom: 1vw;
    font-family: "JetBrains Mono", monospace;
    font-weight: bold;
    background-color: var(--color3);
    color: var(--color1);
}
.dayshour{
    position: relative;   
    color: var(--color1);
}
.dayshour::after{
    color: var(--color1a);
    content: "hour";
    position: absolute;
    top: -0.5rem;
    left: 60%;
    font-size: 0.4em;
}
.dayshour::before{
    color: var(--color1a);
    content: "days";
    position: absolute;
    top: -0.5rem;
    right: 53%;
    font-size: 0.4em;
}
.minsec{
    color: var(--color1);
    position: relative;
}
.minsec::after{
    color: var(--color1a);
    content: "secs";
    position: absolute;
    top: -0.5rem;
    left: 60%;
    font-size: 0.4em;
}
.minsec::before{
    color: var(--color1a);
    content: "mins";
    position: absolute;
    top: -0.5rem;
    right: 54%;
    font-size: 0.4em;
}
.mouseimg{
    padding-top: 0vh;
    height: auto;
    width: 50px; 
    filter: sepia(100%) saturate(300%) brightness(90%) hue-rotate(130deg);
    z-index: 1;
    opacity: 0.7;
    animation-name: mouseJump;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite; 
    animation-direction: alternate; 
    position: relative;
}

@keyframes mouseJump{
    0% {
        transform: translate(0px, 4vw);
    }
    100%{
        transform: translate(0px, 0px);
    }
}

