.Eventlists:nth-child(1)>#DetailCard::before {
    content: "LATEST";
    position: absolute;
    padding: 1em;
    top: 0;
    left: 50%;
    max-width: 20vw;
    transform: translate(-50%, 0%);
    background-color: var(--color1);
    color: var(--color4);
    border-radius: 0 0 1em 1em;
}
