
@keyframes confetti{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
  }
@keyframes fadeOut {
  from {
    display: block;
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideOut {
  0%{
  }
  100% {
    min-width: 60vw;
  }
}
@keyframes slideIn{
  0%{
   min-width: 60vw;
  }
  100% {
  }
}


@keyframes bob{
  0%{
    padding-top: 1em;
    padding-bottom: 1em;
  }
  100% {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

@keyframes flicker {
    0% {
        opacity: 0.5;
    }
    10% {
        opacity: 1;
    }
    20% {
        opacity: 0.5;
    }
    30% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}

