html, body{
  overflow-x: hidden; /* Hide horizontal scrollbar */
  margin: 0;
  padding: 0;
}

.events{
    position: relative;
    border-radius: 20vw;
    padding: 5vh;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: var(--color4aA);
    background-size: 30vw;
    background-repeat: no-repeat;
    margin: 5vw;
    height: fit-content;
  }

.eventTitle {
    color: var(--color1);
    font-family: "Monomaniac One", cursive;
    font-size: 5rem;
    margin: 3rem;
    text-align: center;
    padding-top: 20vh;
  }

  .Eventlists{
    display: flex;
  }
  .emptyspace{
    flex: 1;
  }

 #Eventscard{
    flex: 2;
    display: flex;
    padding: 7rem;
  }

  #Eventscard > hr{ 
    margin: 2rem;
    border: 1px solid var(--color4a);
  }

  #Eventscard > div.cardData,
  #Eventscard > div.cardActions{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
  }

  #Eventscard > div.cardActions > button{
    font-size: 1rem;
  }

  @media (max-width: 1200px) {
    #Eventscard{
      flex-direction: column;
    }
  }
