.hackathonComponent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.upperHalf{
    height: 100vh;
}
.gitWatchContainer{
    overflow-y: auto;
    padding: 2vh;
}
.hello{
    background-color: black;
}
.bottomCommitDisplay{
    background-color: black;
}