.contactUs {
  position: relative;
  border-radius: 20vw;
  height: fit-content;
  padding: 5vh;
  padding-left: 10vw;
  padding-right: 10vw;
  background-color: var(--color4aA);
  background-size: 30vw;
  background-repeat: no-repeat;
  margin: 5vw;
}

.contactUsTitle {
  color: var(--color1);
  font-family: "Monomaniac One", cursive;
  font-size: 3rem;
}
.contactUsContent{
  padding: 2rem;
}
.contactUsContent form{
  text-align:left;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
.contactUsContent img{
  position: absolute;
  --w: 25vw;
  width: var(--w);
  top: calc(50vh - var(--w) / 2);
  right: 10vw;
}

.contactUsContent form label{
  font-family: "Quicksand";
  font-weight: bold;
  position: absolute;
  color: var(--color1);
  border-radius: 0.5rem;
  padding: 0.5rem;
  transform: translate(0%, -50%);
  z-index: 1;
  margin: 2rem;
  font-size: 0.8rem;
  display: block;
  transition: all .2s;
}

.contactUsContent>form>div{
  position: relative;
  margin-left: 2rem;
}
.contactUsContent>form input, .contactUsContent>form textarea{
  font-size: 1rem;
  outline: none;
  display: block;
  width: 30vw;
  padding: 2rem;
  border-radius: 3vh;
  background: color-mix(in srgb, var(--color3A) 10%, var(--color4aA) 80%);
  border: 1px solid var(--color3A);
  color: var(--color1);
  font-family: "Quicksand";
  font-weight: bold;
  margin: 4px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-text-fill-color: var(--color1);
    transition: background-color 5000s ease-in-out 0s;
    background-color: var(--color3A);
}

/* :NOTE: The order of the following rules is important. */

/* When nothing is typed in the input, the label is shown. */
.contactUsContent input:placeholder-shown + label{
  top: 0.8rem;
}
.contactUsContent textarea:placeholder-shown + label{
  top: 1.5rem;
}
/* When the input is focused, the label is moved up. */
.contactUsContent input:focus + label {
  top: -1.5rem;
  background-color: var(--color1a);
}
.contactUsContent textarea:focus + label{
  top: -1.5rem;
  background-color: var(--color1a);
}

/* When something is typed in the input, the label is moved up. */
.contactUsContent input:not(placeholder-shown) + label{
  top: -1.5rem;
  background-color: var(--color4a);
}
.contactUsContent textarea:not(placeholder-shown) + label{
  top: -1.5rem;
  background-color: var(--color4a);
}
/* :NOTE: The order of the above rules is important. */

.contactUsContent button[type="submit"]{
  margin-left: 25.464px;
  margin-top: 0.8vh;
  color: var(--color3);
  background-color: var(--color1);
  transition: 0.2s;
  border-radius: 0.5rem;
}
.contactUsContent button[type="submit"]:hover{
  color: var(--color3a);
  background-color: var(--color1a);
}
.moreinfo{
  font-size: 1rem;
  color: var(--color1);
  opacity: 0.5;
  font-family: "Quicksand";
  text-align: center;
  margin: auto;
  margin-bottom: 1rem;
  font-weight: bold;
  width: 40vw;
  padding: 10px;
}
