:root{
  --perspective: 200vh;
}
li{
  list-style: none;
}

div.NavOpener{
  position: fixed;
  top:5vh;
  right: 5%;
  z-index: 3;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.hamburger{
  margin: 0.3rem;
  width: 30px;
  height: 2px;
  border-radius: 5px;
  background-color: var(--color1a);
  transition: 0.2s ease;
}

.NavOpener:hover .hamburger{
  background-color: var(--color1);
  margin-top: 0.4rem;
}

.fixedNavBar{
  position: fixed;
  top:10vh;
}

.logo{
  position: fixed;
  top: 5vh;
  left: 5vw;
  height: 3rem;
  z-index: 2;
  font-weight: bold;
  color: var(--color1);
  font-family: "JetBrains Mono", monospace;
}
.logo img{
  aspect-ratio: 1;
  height: 100%;
  transition: 0.2s ease;
}
.logo::before{
  content: "KEC";
  position: absolute;
  top: 0%;
  transform: translate(-50%, calc(-100% - 0.5rem));
}
.logo::after{
  content: "CLUB";
  position: absolute;
  bottom: 0%;
  right: 0%;
  transform: translate(50%, calc(100% + 0.5rem));
}


div.navContainerContainer{
  position: fixed;
  width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  backdrop-filter: blur(10px);

  font-family: "Monomaniac One", sans-serif;
  background: var(--color4aA);
  color: var(--color-1);
  padding: 1em;
  margin: 0px;
  z-index: 10;
}


nav.NavContainer{
  position: absolute;
  perspective: var(--perspective);
  top: 50%;
  pointer-events: none;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 25vh;
}

nav.NavContainer div.NavItems{
  font-size: 3rem;
  color: var(--color1);
  transition: 0.1s linear;
  border-radius: 3vh;
  background-color: var(--color4a);
  width: fit-content;
  padding: 0.5em;
  margin: auto;
  transform-origin: 50% 50% -25vh;
  transform-style: preserve-3d;
}

 nav.NavContainer div.NavItems.navItemHover{
  background: var(--color1);
  color: var(--color4a);
}

nav.NavContainer div.NavItems span.NavItemIcons{
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(calc(100% + 2vw), -20%);
  padding: 1em;
  background: var(--color4a);
  border-radius: 3vh;
}

nav.NavContainer div.NavItems:nth-child(1){
  transform: rotateX(0deg);
}
nav.NavContainer div.NavItems:nth-child(1){
  transform: rotateX(40deg);
}
nav.NavContainer div.NavItems:nth-child(3){
  transform: rotateX(-40deg);
}

.hidden{
  animation: fadeOut 0.5s ease-in-out forwards;
}
.popIn{
  animation: fadeIn 0.5s ease-in-out forwards;
}


#navDestroyer69{
  position: fixed;
  top: 10vh;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  transition: 0.2s ease;
  opacity: 0.5;
}

#navDestroyer69::after{
  content: "CLOSE";
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -120%);
  font-size: 1.5rem;
  font-weight: light;
  color: var(--color1);
}

#navDestroyer69:hover{
  opacity: 1;
}
