:root{
  --perspective: 200vh;
}
li{
  list-style: none;
}

div.NavOpener{
  position: fixed;
  top:5vh;
  right: 5%;
  z-index: 3;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.hamburger{
  margin: 0.3rem;
  width: 30px;
  height: 4px;
  border-radius: 5px;
  background-color: var(--color1);
  transition: 0.2s ease;
}

.NavOpener:hover .hamburger{
  background-color: var(--color1e);
  margin-top: 0.4rem;
}

.fixedNavBar{
  position: fixed;
  top:10vh;
}

.logo{
  position: fixed;
  top: 5vh;
  left: 5vw;
  height: 3rem;
  z-index: 2;
  font-weight: bold;
  color: var(--color1);
  font-family: "JetBrains Mono", monospace;
}
.logo img{
  aspect-ratio: 1;
  height: 100%;
  transition: 0.2s ease;
}
.logo::before{
  content: "KEC";
  position: absolute;
  top: 0%;
  transform: translate(-50%, calc(-100% - 0.5rem));
}
.logo::after{
  content: "CLUB";
  position: absolute;
  bottom: 0%;
  right: 0%;
  transform: translate(50%, calc(100% + 0.5rem));
}


div.navContainerContainer{
  position: fixed;
  width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  backdrop-filter: blur(10px);

  font-family: "Monomaniac One", sans-serif;
  background: var(--color4aA);
  color: var(--color-1);
  padding: 1em;
  margin: 0px;
  z-index: 10;
}


nav.NavContainer{
  position: absolute;
  perspective: var(--perspective);
  perspective-origin: 50% 50%;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
}

nav.NavContainer .NavItems{
  font-size: 3rem;
  position: fixed;
  color: var(--color1);
  display: flex;
  border-radius: 3vh 0vh 0vh 3vh;
  transition: background-color 0.3s ease, border-radius 0.3s ease; 
  transform: translate(-50%, -50%) rotateY(0deg); /* Ensure 3D context */
  left: 50%;
  background-color: var(--color4a);
  width: fit-content;
  padding: 0.5em;
  margin: auto;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

 nav.NavContainer .NavItems:hover{
  box-shadow: inset 0px 0px 10rem var(--color1), 0px 0px 10rem var(--color1);
 }

.NavItems > .NavItemIcons{
  position: absolute;
  backface-visibility: hidden;
  top: 0;
  right: 0vw;
  transform: translate(100%, -20%) rotateY(0deg); /* Ensure 3D context */
  padding: 1em;
  border-radius: 4vh;
}

.hidden{
  animation: fadeOut 0.5s ease-in-out forwards;
}
.popIn{
  animation: fadeIn 0.5s ease-in-out forwards;
}


#navDestroyer69{
  position: fixed;
  top: 10vh;
  left: 50%;
  transform: translate(-50%, -100%);
  aspect-ratio: 1;
  z-index: 11;
  transition: 0.2s ease;
  opacity: 0.5;
}

#navDestroyer69::after{
  content: "CLOSE";
  position: absolute;
  opacity: 0;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 200%);
  font-size: 1.5rem;
  font-weight: light;
  color: var(--color1);
  pointer-events: none;
}

#navDestroyer69:hover{
  opacity: 1;
}
#navDestroyer69:hover::after{
  opacity: 1;
}
