:root {
    --perspective: 200vh;
    --logoWidth: 50px;
    --dristiBlur: 10px;
}

li {
    list-style: none;
}
/* N A V B A R */

.theNav{
    height: 0rem;
    /* background: linear-gradient( var(--color4) , transparent); */
    box-shadow: 0 10px 5vh 5vh var(--color4);
    position: fixed;
    width: 100vw;
}

.NavContents {
    position: fixed;
    top: 5vh;
    right: 5%;
    z-index: 3;
    height: 4vh;
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
}

/* NAVBAR EVENT */
.EventLogo {
    margin-right: 1em;
    padding: 0.4rem 1.4rem;
    cursor: pointer;
    font-family: "Monomaniac One";
    color: var(--color1);
    font-size: 1.5rem;
    border: 1px solid var(--color1);
    border-radius: 15px;
    box-shadow: 0 8px var(--dristiBlur) -4px var(--dristi_color1a),
                -8px 0 var(--dristiBlur) -4px var(--dristi_color2a), 
                0 -8px var(--dristiBlur) -4px var(--dristi_color3a),
                8px 0 var(--dristiBlur) -4px var(--dristi_color4a),
                inset 0 -8px var(--dristiBlur) -4px var(--dristi_color1a),
                inset 8px 0 var(--dristiBlur) -4px var(--dristi_color2a), 
                inset 0 8px var(--dristiBlur) -4px var(--dristi_color3a),
                inset -8px 0 var(--dristiBlur) -4px var(--dristi_color4a);
    transition: 0.2s ease;
    
}
.EventLogo:hover{
    box-shadow: 0 8px var(--dristiBlur) -0px var(--dristi_color1a),
                -8px 0 var(--dristiBlur) -0px var(--dristi_color2a), 
                0 -8px var(--dristiBlur) -0px var(--dristi_color3a),
                8px 0 var(--dristiBlur) -0px var(--dristi_color4a),
                inset 0 -8px var(--dristiBlur) -0px var(--dristi_color1a),
                inset 8px 0 var(--dristiBlur) -0px var(--dristi_color2a), 
                inset 0 8px var(--dristiBlur) -0px var(--dristi_color3a),
                inset -8px 0 var(--dristiBlur) -0px var(--dristi_color4a);
    
}
.EventLogo a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.EventLogo .EventLogoinner {
    width: var(--logoWidth);
    height: var(--logoWidth);
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
}

.EventLogo .eventName {
    overflow-x: hidden;
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.3s ease;
    white-space: nowrap;
}
/* NAVBAR HAMBURGER */
div.NavOpener {
    float: right;
    width: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hamburger {
    margin: 0.3rem;
    width: 30px;
    height: 4px;
    border-radius: 5px;
    background-color: var(--color1);
    transition: 0.2s ease;
}

.NavOpener:hover .hamburger {
    margin-top: 0.4rem;
}

.fixedNavBar {
    position: fixed;
    top: 10vh;
}

.logo {
    position: fixed;
    top: 5vh;
    left: 5vw;
    height: 3rem;
    aspect-ratio: 1.06;
    z-index: 2;
    font-weight: bold;
    color: var(--color1);
    font-family: "JetBrains Mono", monospace;
}

.logo img {
    aspect-ratio: 1;
    height: 100%;
    transition: 0.2s ease;
}

.logo::before {
    content: "KEC";
    position: absolute;
    top: 0%;
    transform: translate(-50%, calc(-100% - 0.5rem));
}

.logo::after {
    content: "CLUB";
    position: absolute;
    bottom: 0%;
    right: 0%;
    transform: translate(50%, calc(100% + 0.5rem));
}


div.navContainerContainer {
    position: fixed;
    width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    backdrop-filter: blur(10px);

    font-family: "Monomaniac One", sans-serif;
    background: rgba(0, 0, 0, 0.4);
    color: var(--color-1);
    padding: 1em;
    margin: 0px;
    z-index: 10;
}

nav.NavContainer {
    position: absolute;
    perspective: var(--perspective);
    perspective-origin: 50% 50%;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    width: 100%;
    height: 100%;
}

nav.NavContainer a {
    cursor: pointer;
}

nav.NavContainer .NavItems {
    font-size: 4vh;
    position: fixed;
    color: var(--color1);
    display: flex;
    border-radius: 3vh 0vh 0vh 3vh;
    transition: outline-offset 0.3s ease, background-color 0.2s ease;
    transform: translate(-50%, -50%) rotateY(0deg);
    /* Ensure 3D context */
    left: 50%;
    border: 2px solid var(--color3A);
    width: fit-content;
    padding: 0.5em;
    margin: auto;
    transform-style: preserve-3d;
    outline-offset: 0px;
    backface-visibility: hidden;
}


nav.NavContainer .NavItems:hover .NavItemIcons {
    outline-offset: 9px;
    outline: 3px solid var(--color1e);
}

.NavItems>.NavItemIcons {
    position: absolute;
    backface-visibility: hidden;
    outline: 0px solid transparent;
    top: 0;
    outline-offset: 0px;
    transition: outline, outline-offset 0.3s ease;
    right: 0vw;
    transform: translate(100%, -20%) rotateY(0deg);
    /* Ensure 3D context */
    height: 20vh;
    padding: 5vh;
    border-radius: 4vh;
}

.NavItems>.NavItemIcons img {
    height: 10vh;
    margin: auto;
}

.hidden {
    animation: fadeOut 0.5s ease-in-out forwards;
    display: none;
}

.popIn {
    animation: fadeIn 0.5s ease-in-out forwards;
    display: block;
}

#navDestroyer69 {
    position: fixed;
    top: 10vh;
    left: 50%;
    transform: translate(-50%, -100%);
    aspect-ratio: 1;
    z-index: 11;
    transition: 0.2s ease;
    opacity: 0.5;
}

#navDestroyer69::after {
    content: "CLOSE";
    position: absolute;
    opacity: 0;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 200%);
    font-size: 1.5rem;
    color: var(--color1);
    pointer-events: none;
}

#navDestroyer69:hover {
    opacity: 1;
}

#navDestroyer69:hover::after {
    opacity: 1;
}
