.glassCards {
  padding: 10vh;
  border-radius: 10vh;
  color: var(--color1);
  font-family: "Quicksand";
  font-weight: bold;
  margin: 0;
  width: 30rem;
}

.glassCards button.simpleButton {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.glassCards .cardContent {
  font-size: 1.3em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* .glassCards#image { */
/*   position: absolute; */
/*   top: 50vh; */
/*   padding: 0; */
/*   right: 12vw; */
/*   height: fit-content; */
/*   width: fit-content; */
/* } */

.glassCards#image>img {
  height: 55vh;
  object-fit: contain;
  border-radius: 5vh;
  border: 3vh solid var(--color4aA);
  filter: sepia(100%) saturate(300%) brightness(90%) hue-rotate(150deg);
  transition: 0.3s ease;
}

.glassCards#image>img:hover {
  filter: brightness(100%);
  border: 5vh solid var(--color4aA);
}

.glassCards .cardTitle {
  font-family: "JetBrains Mono", monospace;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
  margin-top: 0rem;
  margin-bottom: 2vh;
}

.glassCards#circleButtons {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 33em;
  height: 33em;
  z-index: 4;
  /* position: relative; */
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  aspect-ratio: 1;
  font-size: calc(0.7rem + 0.2vw);
}

.pageContent {
  position: relative;
  border-radius: 20vw;
  padding-left: 10vw;
  padding-right: 10vw;
  background-color: var(--color4aA);
  margin: 5vw;
}

.pageContent::before {
  content: "SCROLL DOWN";
  color: var(--color1);
  font-family: "JetBrains Mono", monospace;
  position: absolute;
  font-weight: bold;
  top: 1vh;
  left: 50%;
  transform: translate(-50%, 50%);
}

#notice {
  width: 30vw;
  overflow: hidden;
}

#notice #noticeContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1rem;
  gaps: 1rem;
  text-align: left;
  content: "NEW NOTICE!!";
  text-align: center;
  color: var(--color4);
  background-color: var(--color1);
  background: linear-gradient(to right, var(--color1), var(--color1e));
  font-family: "JetBrains Mono", monospace;
  font-weight: bolder;
  padding: 0.5em;
  position: absolute;
  top: 0;
  left: 50%;
  width: 69%;
  transform: translate(-50%, 0%);
  border-radius: 0 0 20em 20em;
  transform-origin: 50% 50%;
}

.noticeSpButtons {
  margin-left: 1rem;
}

.discordButton {
  border-radius: 1rem 1rem 0 0;
  display: inline;
}

.formButton {
  border-radius: 0 0 1rem 1rem;
}

#notice .activated,
#notice .deactivated {
  display: inline;
  margin: 5px;
  margin-top: 1rem;
}

.discordButton img,
.formButton img {
  height: auto;
  width: 2em;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}

.discordButton,
.formButton {
  background-color: var(--color4a);
  margin-top: 0;
  margin: 0;
  display: inline;
  transition: background-color 0.2s ease-in-out;
}

.discordButton:hover,
.formButton:hover {
  background-color: var(--color4aA);
}

.discordButton:hover img,
.formButton:hover img {
  opacity: 1;
}

.tablet {
  font-weight: 800;
  padding: 0.5rem;
  border-radius: 2em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--color4aA);
  width: 15vw;
  min-width: 15em;
}

.tablet img {
  width: 3vw;
}

.tabletContent {
  text-align: right;
  padding-right: 1rem;
}

.tabletContent>.post {
  color: var(--color1);
  white-space: nowrap;
  opacity: 0.5;
}


#DetailCard {
  flex: 2;
  display: flex;
  padding: 7rem;
  margin-top: 0vh;
  margin-bottom: 0vh;
}

#DetailCard>hr {
  margin: 2rem;
  border: 1px solid var(--color4a);
}

#DetailCard>div.cardData,
#DetailCard>div.cardActions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

#DetailCard>div.cardData {
  flex: 1;
}

#DetailCard>div.cardActions {
  min-width: fit-content;
}

#ImgDetailCard img {
  width: 100%;
}

#ImgDetailCard {
  width: 80%;
  text-align: left;
}

#ImgDetailCard img {
  border-radius: 5vh;
  margin-bottom: 1rem;
}

#ImgDetailCard .idcContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: -2vw;
}

#ImgDetailCard .idcContent .cardActions {
  transform: rotate(-90deg);
}

#ImgDetailCard .idcContent .cardActions button {
  background-color: var(--color4);
  border: none;
}

.projectDetailsCard {
  width: 50vw;
  margin-left: auto;
}
