.glassCards{
  padding: 10vh;
  border-radius: 10vh;
  color: var(--color1);
  font-family: "Quicksand";
  font-weight: bold;
  margin: 0;
  width: 30rem;
}


.glassCards .cardContent{
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.glassCards#image{
  position: absolute;
  top: 35vh;
  padding: 0;
  right: 10vw;
  backdrop-filter: blur(25px);
  height: fit-content;
  width: fit-content;
}
.glassCards#image>img{
  width: 30vw;
  border-radius:  10vh;
  opacity: 0.5;
  box-shadow: var(--color3) 0 0 22px 0px;
}

.glassCards .cardTitle{
  font-family: "JetBrains Mono", monospace;
  font-weight: 800;
  font-size: 2.5rem;
  margin: 3rem;
  margin-top: 0rem;
}

.glassCards#circleButtons{
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: -10vh;
  z-index:1;
  align-items: center;
  translate: 0, -20vh;
  border-radius: 50%;
  justify-content: center;
  aspect-ratio: 1;
}

.pageContent{
  position: relative;
  border-radius: 20vw;
  height: 110vh;
  padding-left: 10vw;
  padding-right: 10vw;
  /* background: url('../bg_grid.png') right bottom no-repeat, url('../bg_grid2.png') left top no-repeat; */
  background-color: var(--color4aA);
  /* background-color: var(--color4a); */
  /* backdrop-filter: blur(2px); */
  background-size: 30vw;
  background-repeat: no-repeat;
  margin: 5vw;
  margin-bottom: 40vh;
}

.pageContent::before{
    content: "SCROLL DOWN";
    color: var(--color1);
    font-family: "JetBrains Mono", monospace;
    position: absolute;
    font-weight: bold;
    top: 1vh;
    left: 50%;
    transform: translate(-50%, 50%);
  }


.tablet{
  font-weight: 800;
  padding: 0.5rem;
  border-radius: 2em;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--color4aA);
  width: 15vw;
}
.tabletContent{
  text-align: right;
  padding-right: 1rem;
}
.tabletContent > .post{
  color: var(--color1);
  white-space: nowrap;
  opacity: 0.5;
}


#DetailCard .projectDetailsCard{
  width: 50vw;
}


@media (max-width: 1200px) {

  .glassCards#image{
    display: none;
  }
  .tablet{
    max-width: 25vw;
  }

  .glassCards#notice{
    width: 30rem;
    margin: auto;
    margin-bottom: 10vh;
    margin-top: 10vh;
  }
  .glassCards#projects{
    width: 30rem;
    margin: auto;
  }
}
