.glassCards{
  padding: 10vh;
  border-radius: 10vh;
  color: var(--color1);
  font-family: "Quicksand";
  font-weight: bold;
  margin: 0;
  width: 30rem;
}
.glassCards button.simpleButton{
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.glassCards .cardContent{
  font-size: 1.3em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.glassCards#image{
  position: absolute;
  top: 35vh;
  padding: 0;
  right: 10vw;
  backdrop-filter: blur(25px);
  height: fit-content;
  width: fit-content;
}
.glassCards#image>img{
  width: 30vw;
  border-radius:  10vh;
  opacity: 0.5;
  box-shadow: var(--color3) 0 0 22px 0px;
}

.glassCards .cardTitle{
  font-family: "JetBrains Mono", monospace;
  font-weight: 800;
  font-size: 2.5em;
  margin: 3rem;
  margin-top: 0rem;
}

.glassCards#circleButtons{
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: -10vh;
  width: 33em;
  height: 33em;
  z-index:4;
  position: relative;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  aspect-ratio: 1;
  font-size: calc(0.7rem + 0.2vw);

}

.pageContent{
  position: relative;
  border-radius: 20vw;
  height: 140vh;
  padding-left: 10vw;
  padding-right: 10vw;
  /* background: url('../bg_grid.png') right bottom no-repeat, url('../bg_grid2.png') left top no-repeat; */
  background-color: var(--color4aA);
  /* background-color: var(--color4a); */
  /* backdrop-filter: blur(2px); */
  /* background-size: 30vw; */
  /* background-repeat: no-repeat; */
  margin: 5vw;
  margin-bottom: 40vh;
}

.pageContent::before{
    content: "SCROLL DOWN";
    color: var(--color1);
    font-family: "JetBrains Mono", monospace;
    position: absolute;
    font-weight: bold;
    top: 1vh;
    left: 50%;
    transform: translate(-50%, 50%);
  }


.tablet{
  font-weight: 800;
  padding: 0.5rem;
  border-radius: 2em;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--color4aA);
  width: 15vw;
}
.tabletContent{
  text-align: right;
  padding-right: 1rem;
}
.tabletContent > .post{
  color: var(--color1);
  white-space: nowrap;
  opacity: 0.5;
}


#DetailCard{
  flex: 2;
  display: flex;
  padding: 7rem;
}

#DetailCard > hr{
  margin: 2rem;
  border: 1px solid var(--color4a);
}

#DetailCard > div.cardData,
#DetailCard > div.cardActions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}
#DetailCard > div.cardData{
  flex: 1;
}
#DetailCard > div.cardActions{
  min-width: fit-content;
}

.projectDetailsCard{
  width: 50vw;
  margin-left: auto;
}


@media (max-width: 1200px) {

  #DetailCard{
    flex-direction: column;
  }
  .glassCards#image{
    display: none;
  }
  .glassCards#circleButtons{
  }
  .tablet{
    max-width: 25vw;
  }
}
@media (max-width: 650px) {
  .pageContent{
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .pageContent > .glassCards{
    width: 80vw;
    margin: auto;
  }
  .glassCards#circleButtons{
    width: 80vw;
    height: calc(70vw + 5vh) ;
  }
  #noticeContent{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
